.recommendation_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 300px;

  height: 300px;
}
.recommendation_card_name {
  font-size: 30px;
}
.recommendation_card_content {
  color: #2e3cb6;
  max-width: 270px;
  max-height: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
