.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects_title {
  background-color: #2e3cb6;
  width: 100%;
}
.projects_title_p {
  font-family: "Suez One", serif;
  font-family: "Varela Round", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 50px;
}
.project_title_icon_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.project_clients {
  width: 40%;
}
.project_clients_title {
  font-family: "Suez One", serif;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  color: #2e3cb6;
  font-size: 40px;
}
.project_clients_p {
  font-family: "Suez One", serif;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}
.images_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.imageList {
  width: 250px;
  padding: 20px;
  height: 250px;
}
.images_container_mobile {
  display: none;
}

@media (max-width: 576px) {
  .images_container {
    display: none;
  }
  .project_clients {
    width: 80%;
  }
  .images_container_mobile {
    display: flex;
  }
}
